<p><b>Appointment Time:</b> <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>
<p><b>Patient:</b> <%= link_to @appointment.patient.name, @appointment.patient %></p>
<p><b>Doctor:</b> <%= link_to @appointment.doctor.name, @appointment.doctor %></p>
